html:not([app-loaded]) {
	background: #000;
	background-image: url(https://samherbert.net/svg-loaders/svg-loaders/tail-spin.svg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

html:not([app-loaded]) > body * {
	display: none;
}